*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: 'Poppins', sans-serif;
font-size: 16px;
color: #F8F8F8;
background-color: #FFF;
}

.container {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
}
.top-nav {
  display: flex;
  justify-content: space-between;
}
.icon {
  max-height: 80px;
  padding: 20px 10px;
}

.dog {
  position: relative;
}

.dog-img {
  width: 100%;
  border-radius: 10px;
}

.dog-id {
  position: absolute;
  bottom: 55px;
  left: 20px;
  font-size: 2rem;
}

.dog-bio {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.5rem;
  color: #B7B7B7;
}

/* like-badge and nope-badge rendered in JS upon button interaction */
.like-badge {
  display: none;
  position: absolute;
  width: 60%;
  top: 80px;
  left: 25px;
  transform: rotate(-20deg)
}

.nope-badge {
  display: none;
  position: absolute;
  width: 60%;
  top: 80px;
  left: 25px;
  transform: rotate(-20deg)
}

.bottom-buttons {
  width: 30%;
  margin: 25px auto;
  display: flex;
  justify-content: space-around;
}

/* this has an issue with cutting of the heart corners */
.button {
  background: white;
  padding:  1em ;
  border-radius: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#heart:active, #heart:hover {
  background: #DBFFF4;
}

#cross:active, #cross:hover {
  background: #FFE7EF
}
